@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1668259511657') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-HTML:before {
  content: "\e706";
}

.icon-shijian:before {
  content: "\e728";
}

.icon-kehumingdan:before {
  content: "\e60c";
}

.icon-gonggao:before {
  content: "\e61e";
}

.icon-qiandao:before {
  content: "\e687";
}

.icon-new:before {
  content: "\e610";
}

.icon-bilibili:before {
  content: "\e609";
}

